<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Blog</title>
</head>

<body>
    <%- include('./partials/nav') %>

    <div class="container mt-4">
        <h2><%= blog.title %></h2>
        <img src="<%= blog.coverImage %>" width="300px"/>
        <pre class="mt-3"><%= blog.body %></pre>
    </div>
    <div class="container mt-4">
        <img src="<%= blog.createdBy.profileImage %>" width="50px"> <%= blog.createdBy.fullName %>
    </div>

    <div class="container mt-3">
        <h2>Comments <%= comments.length %></h2>
        <% if (locals.user) { %>
        <form action="/blog/comment/<%= blog._id %>" method="post">
        <div class="mb-3">
              <input type="text" class="form-control" name="content" placeholder="Enter your comment">
              <button class="btn btn-sm btn-primary" type="submit">Add</button>
            </div>
            </form>
            <% } %>
    </div>
    <div class="contatiner mt-3">
        <% comments.forEach(comment => { %>
          <div class="container mt-4">
        <img src="<%= comment.createdBy.profileImage %>" width="50px"> <%= comment.createdBy.fullName %>
        <pre><%= comment.content %></pre>
    </div>
        <% }) %>
    </div>
    <%- include('./partials/script') %>
</body>

</html>